@model TTMS.Models.Work

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SupervisorLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Work</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkType.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkDescr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkDescr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignedstudents)
        </dt>

        <dd>
            @Html.ListBox("Id", new SelectList(Model.Assignedstudents, "Id", "FirstName"))
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
