@model TTMS.Models.Work

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SupervisorLayout.cshtml";
}

<h2>Individual Work Detail</h2>

@*<div>
    <h4>Work</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkType.TypeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkType.TypeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WorkDescr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WorkDescr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Deadline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Assignedstudents)
        </dt>

        <dd>
            @Html.ListBox("Id", new SelectList(Model.Assignedstudents, "Id", "FirstName"))
        </dd>

    </dl>
</div>*@
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading text-uppercase">@Html.DisplayFor(model => model.WorkTitle)</h2>
                <h4 class="section-heading">A @Html.DisplayFor(model => model.WorkType.TypeName) with @Html.DisplayFor(model => model.Priority) priority</h4>
                <hr class="light">
                <h4><p class="text-faded">@Html.DisplayFor(model => model.WorkDescr)</p></h4>
                <hr class="light">
                <h4 class="section-heading"><b>Creation Date</b> : @Html.DisplayFor(model => model.CreationDate)</h4>
                <h4 class="section-heading"><b>Deadline</b> : @Html.DisplayFor(model => model.Deadline)</h4>
                <h4 class="section-heading"><b>Status</b> : @Html.DisplayFor(model => model.Status)</h4>
                <h4 class="section-heading"><b>Assigned Students</b> : @ViewBag.assigned</h4>
               
                </br>
            </div>
        </div>
    </div>
</section>
<p></br>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@Html.Partial("_SubmitCommentPartial", new ViewDataDictionary { { "id", Model.ID } })
<div class="page-header"><h4><b>Comments of this work</b></h4></div>
    <div class="container">
        @if (Model.Comments.Any())
        {
            DateTime date2 = DateTime.Now;
            foreach (var com in Model.Comments.ToList())
            {
                TimeSpan timeDifference = date2.Subtract(com.PostTime);
                var timePassed = timeDifference.Hours.ToString() + " Hours Ago";
                if (timeDifference.Hours < 1)
                {
                    timePassed = timeDifference.Minutes.ToString() + " Minutes Ago";
                }
                if (timeDifference.Minutes < 1)
                {
                    timePassed = timeDifference.Seconds + " Seconds Ago";
                }
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            @com.User.FirstName
                            <small>@timePassed</small>
                        </h4>
                        @com.Content
                    </div>
                </div>
            }
        }
        else
        {
            <p>No Comments</p>

        }
</div>
<hr>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@*@Html.Partial("_CommentFormPartial", new ViewDataDictionary { { "id", Model.ID } })*@

